* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
img {
  width: 100%;
}

button {
  cursor: pointer;
  background: #E3D2BC;
border: .2rem solid #111111;
padding: 1.6rem 7.4rem;
font-size: 2.4rem;
text-transform: uppercase;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  background-image: url(/images/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.maxw {
  max-width: 120rem;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  height: 8rem;
  width: 100%;
  justify-content: space-between;
  .nav-logo {
    display: flex;
    
  }
  .traco {
    height: 4.2rem;
    width: 0.2rem;
    background-color:white;
    margin: 0 6rem;
  }

}

.box-trailer {
  display: flex;
  flex-direction: column;
  align-items: center;

}
footer {
  width: 100%;
  .footer-box {

    &-ep {
      max-width:72.4rem ;
      background: #E3D2BC;
      border: .2rem solid #111111;
      &-description {
        display: flex;
        &-play {
          width: 23rem;
          height: 15rem;
          background-color: yellow;
        }
        &-text {
          h1 {
            font-size: 3.6rem;
            font-weight: 700;
          }
          p {
            font-size: 2rem;
            font-weight:400 ;
          }
        }
      }
    }
    &-linha {
      height:11.1rem;
      background: #E3D2BC;
      opacity: 0.2;
      border-radius: 0 0 0 2.4rem;
    }
  }
}